<h1>Bonjour, merci pour votre inscription</h1>

<p>
    Afin de la terminer, merci de confirmer le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer votre email</a>.
    Le lien arrive a expiration dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Cordialement
<br>
    Bêtises et Volupthé
</p>
