{% extends 'base.html.twig' %}

{% block title %}Ajout au panier{% endblock %}

{% block stylesheets %}
    <link href="/css/footerInner.css" rel="stylesheet">
{% endblock %}


{% block body %}

    {% include 'navbar/index2.html.twig' %}

<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Votre panier</h2>
                <ol>
                    <li><a href="{{ path('index')}}#hero">Accueil</a></li>
                    <li>Votre panier</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->
    <section class="inner-page">
        <div class="container">

            <h1 class="text-center mt-5">Produit / menu correctement ajouté au panier</h1>

            <div class="form-row mt-5">
                <div class="col-lg-6 col-md-6  form-group">
                    <h5 class="text-center  mt-2 mb-5">Continuer la commande :</h5>
                    <div class="text-center">
                        <p class="text-center btn mb-5"><a href = "{{ path ('menu') }}#menu">Continuer</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6  form-group">
                    <h5 class="text-center  mt-2 mb-5">Voir votre panier :</h5>
                    <div class="text-center">
                        <p class="text-center btn mb-5"><a href = "{{ path ('panier') }}">Panier</a></p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <img src="/img/betiseetvolupthe.jpg" width="200" height="300"  alt="" class="pb-5">
            </div>

        </div>

    </section>
</main><!-- End #main -->
{% endblock %}