{% extends 'base.html.twig' %}

{%  block title %}Modification du profil utilisateur{% endblock %}

{% block body %}

    {% include 'navbar/index2.html.twig' %}

    <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Modification de votre profil</h2>
                <ol>
                    <li><a href="{{ path('index')}}#hero">Accueil</a></li>
                    <li>Modification de votre profil</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->
    <section class="inner-page">
    <div class="container">



        {{ form_start(user) }}
        {{ form_widget(user)}}
        <div class="text-right">
        <button type="submit" class="btn btn-primary mt-5 mb-5">Enregistrer les modifications</button>
        </div>
        {{ form_end(user) }}

    </div>

    </section>

    </main><!-- End #main -->

{% endblock %}