{% extends 'base.html.twig' %}


{% block title %}Administration{% endblock %}

{% block body %}
    {% include 'navbar/index2.html.twig' %}

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Gestion des images</h2>
                    <ol>
                        <li><a href="{{ path('index')}}#hero">Accueil</a></li>
                        <li>Gestion des images</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->

        <section class="inner-page">
            <div class="container">

                <div class="mb-5">

                    {% include 'menu_admin.html.twig' %}

                    <h1 class="mt-4 mb-4 text-center">Commande classée par catégorie </h1>
                    <table id="admin" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <th>Menus</th>
                        <th>Detail des menus</th>
                        <th>Boissons</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="{{ path('commande_menu') }}" class="btn btn-dark">Voir</a></td>
                            <td><a href="{{ path('commande_composant') }}" class="btn btn-dark">Voir</a></td>
                            <td><a href="{{ path('commande_boisson') }}" class="btn btn-dark">Voir</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </section>


    </main><!-- End #main -->

{% endblock %}


