{% for label, messages in app.flashes  %}
    <div class="alert alert-{{ label }} text-center">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor%}
    </div>
{% endfor %}