{% extends 'base.html.twig' %}

{% block title %}Hello ConditionDeVenteController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="titre mb-5">Conditions générales d'utilisation et de ventes</h1>

    <h3>Objet</h3>
    <br>
    <p>Les présentes conditions régissent les ventes par la société Bêtises et Volupthé</p>
    <hr>
    <br>
    <h3>Les prix</h3>
    <br>
    <p>Les prix de nos produits sont indiqués en euros toutes taxes comprises.</p>
    <p>La société Bêtises et Volupthé se réserve le droit de modifier ses prix à tout moment, mais le produit sera
        facturé sur la base du tarif en vigueur au moment de la validation de la commande</p>
    <p>Les produits demeurent la propriété de la société Bêtises et Volupthé jusqu’au paiement complet du prix.</p>
    <hr>
    <h3>Les commandes</h3>
    <br>
    <p>Les informations contractuelles sont présentées en langue française et feront l’objet d’une confirmation au plus
        tard au moment de la validation de votre commande.</p>
    <p>La société Bêtises et Volupthé se réserve le droit de ne pas enregistrer un paiement, et de ne pas confirmer une
        commande pour quelque raison que ce soit, et plus particulièrement en cas de problème d’approvisionnement, ou en
        cas de difficulté concernant la commande reçue.</p>
    <hr>
    <br>
    <h3>Validation de votre commande</h3>
    <br>
    <p>Toute commande figurant sur le site Internet restaurantlessens.com suppose l’adhésion aux présentes Conditions
        Générales. Toute confirmation de commande entraîne votre adhésion pleine et entière aux présentes conditions
        générales de vente, sans exception ni réserve.</p>
    <p>L’ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction.</p>
    <p>Vous déclarez en avoir parfaite connaissance.</p>
    <p>La confirmation de commande vaudra signature et acceptation des opérations effectuées..</p>
    <hr>
    <br>
    <h3>Paiement</h3>
    <br>
    <p>Le fait de valider votre commande implique pour vous l’obligation de payer le prix indiqué.</p>
    <p>Le règlement de vos achats s’effectue par carte bancaire grâce au système sécurisé PayPlug.</p>
    <hr>
    <br>
    <h3>Livraison</h3>
    <br>
    <p>Les plats sont livrés par voiture électrique  à l’adresse indiquée au cours du processus de commande, dans le
        délai indiqué sur la page de validation de la commande.</p>
    <p>La livraison est gratuite et uniquement sur Besançon et 10 km autour.</p>
    <p>La commande devra se faire la veille pour le lendemain ou les jours suivants.</p>
    <hr>
    <br>
    <h3>Responsabilité</h3>
    <br>
    <p>Les produits proposés sont conformes à la législation française en vigueur.</p>
    <p>Enfin la responsabilité de la société Bêtises et Volupthé ne saurait être engagée pour tous les inconvénients ou
        dommages inhérents à l’utilisation du réseau Internet, notamment une rupture de service, une intrusion extérieure
        ou la présence de virus informatiques.</p>
    <p>La commande devra se faire la veille pour le lendemain ou les jours suivants.</p>
    <hr>
    <br>
    <h3>Droit applicable en cas de litiges</h3>
    <br>
    <p>La langue du présent contrat est la langue française. Les présentes conditions de vente sont soumises à la loi
        française. En cas de litige, les tribunaux français seront les seuls compétents.</p>
    <hr>
    <br>
    <h3>Propriété intellectuelle</h3>
    <br>
    <p>Tous les éléments du site sont et restent la propriété intellectuelle et exclusive de la société Bêtises et
        Volupthé. Nul n’est autorisé à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même
        partiellement, des éléments du site qu’ils soient logiciels, visuels ou sonores. Tout lien simple ou par
        hypertexte est strictement interdit sans un accord écrit exprès de la société Bêtises et Volupthé.</p>
    <hr>
    <br>
    <h3>Données personnelles</h3>
    <br>
    <p>La société Bêtises et Volupthé se réserve le droit de collecter les informations nominatives et les données personnelles
        vous concernant. Elles sont nécessaires à la gestion de votre commande, ainsi qu’à l’amélioration des services
        et des informations que nous vous adressons.</p>
    <p>Elles peuvent aussi être transmises aux sociétés qui contribuent à ces relations, telles que celles chargées de
        l’exécution des services et commandes pour leur gestion, exécution, traitement et paiement..</p>
    <p>Ces informations et données sont également conservées à des fins de sécurité, afin de respecter les obligations
        légales et réglementaires.</p>
    <p>Conformément à la loi du 6 janvier 1978, vous disposez d’un droit d’accès, de rectification et d’opposition aux
        informations nominatives et aux données personnelles vous concernant, directement sur le site Internet.</p>
    <hr>
    <br>
    <h3>Archivage Preuve</h3>
    <br>
    <p>La société Bêtises et Volupthé archivera les bons de commandes et les factures sur un support fiable et durable
        constituant une copie fidèle conformément aux dispositions de l’article 1348 du Code civil.</p>
    <p>Les registres informatisés de la société  Bêtises et Volupthé seront considérés par toutes les parties concernées
        comme preuve des communications, commandes, paiements et transactions intervenus entre les parties.</p>
    <div class="text-right mt-5 mb-5">
    <td><a href="{{ path('app_register') }}" target="_blank" class="btn btn-success">Fermer</a></td>
    </div>
</div>


{% endblock %}
