
{% block body %}
    <form action ="#" method="POST">
        <input type= "hidden" id="prodId" name="prodId" value="{{ sessId }}">
    </form>

    {% block javascripts %}
        <script src="https://js.stripe.com/v3/"></script>
        <script>
            var stripe = Stripe('pk_test_51HEWz5LDGj5KeXGgk5GqlhnrvTh5Clr5X3t2gZheY6oRsfV9OFQmmoAaYeGa3T7p8Prn2TyOXaTCv4mU99dKLj1k001n8of7TD');
            stripe.redirectToCheckout({
                sessionId: document.getElementById("prodId").value
            }).then(function (result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, display the localized error message to your customer
                // using `result.error.message`.
            });

        </script>


    {% endblock %}

{% endblock %}
