{%  extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}


{% block stylesheets %}
    <link href="/css/footerInner.css" rel="stylesheet">
{% endblock %}

{% block body %}

    {% include 'navbar/index2.html.twig' %}

<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Page non trouvée</h2>
                <ol>
                    <li><a href="{{ path('index')}}#hero">Accueil</a></li>
                    <li>Page non trouvée</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->
    <div class="inner-page">
        <div class="container">

            <div id="gallery" class="gallery">


<div class="container text-center mt-5">
    <h1 class="mt-5">Oups! La page que vous recherchez n'existe pas!</h1>
    <p class="mt-5">On a surement du mal vous renseigner ! Aucun souci, vous pouvez retourner à l'acceuil.</p>
    <a href="{{ path('index') }}" class="btn btn-info">Retour à l'acceuil</a>
</div>

            </div>
        </div>



</main><!-- End #main -->

{% endblock %}