<h1>Demande bien envoyée</h1><br>
<p>Mr/Mme {{ contact.Nom }}</p><br>
<p>Votre demande a bien été prise en compte. Nous vous répondrons rapidement à l'adresse suivante : {{ contact.Email }}</p>.
<p>Vous pouvez nous contacter au 00 00 00 00 00</p><br>
<p>Cordialement</p><br>
<p>Lorem Ipsum</p>
