<h1>Réservation confirmée</h1><br>
<p>Mr/Madame {{ reservation.nom }}, le restaurant Lorem Ipsum vous remercie pour votre réservation le {{ reservation.date|date('d/m/Y') }} à {{ reservation.heure|date('h:m') }} pour {{ reservation.personne }} personnes.</p>
<br><p>Vous pouvez nous contacter au 00 00 00 00 00 en cas d'empéchement</p><br>
<p>Cordialement</p><br>
<p>Lorem Ipsum</p>

